@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900");
@import url("https://cdn.linearicons.com/free/1.0.0/icon-font.min.css");
@import "~bootstrap/scss/bootstrap";

body {
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  font-size: 16px;
}

// .switch {
//   position: relative;
//   display: inline-block;
//   width: 60px;
//   height: 34px;
// }

// /* Hide default HTML checkbox */
// .switch input {
//   opacity: 0;
//   width: 0;
//   height: 0;
// }

// /* The slider */
// .slider {
//   position: absolute;
//   cursor: pointer;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   background-color: #ccc;
//   -webkit-transition: .4s;
//   transition: .4s;
// }

// .slider:before {
//   position: absolute;
//   content: "";
//   height: 26px;
//   width: 26px;
//   left: 4px;
//   bottom: 4px;
//   background-color: white;
//   -webkit-transition: .4s;
//   transition: .4s;
// }

// input:checked + .slider {
//   background-color: #2196F3;
// }

// input:focus + .slider {
//   box-shadow: 0 0 1px #2196F3;
// }

// input:checked + .slider:before {
//   -webkit-transform: translateX(26px);
//   -ms-transform: translateX(26px);
//   transform: translateX(26px);
// }



.weather-card {
  // margin: 60px auto;
  // width: 450px;
  background: #fff;
  box-shadow: 0 1px 38px rgba(0, 0, 0, 0.15), 0 5px 12px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  border-radius: 50px;
  color: #fff;
}
.weather-card .top {
  position: relative;
  min-height: 570px;
  width: 100%;
  overflow: hidden;
  background-color: rgba(255, 255, 255, .15);  
  backdrop-filter: blur(5px);
  text-align: center;
}
.weather-card .top .wrapper {
  padding: 30px;
  position: relative;
  z-index: 1;
}

#search-input {
  z-index: 1000;
}

.weather-card .top .wrapper i {
  font-size: 5rem;
}

.weather-card .top .wrapper table {
  width: 100%;
  table-layout: fixed;
}

.weather-card .top .wrapper table i {
  font-size: 2rem;
}

.weather-card .top .wrapper .heading {
  margin-top: 20px;
  font-size: 2.5rem;
  font-weight: 400;

}
.weather-card .top .wrapper .location {
  margin-top: 20px;
  font-size: 1.5rem;
  
}
.weather-card .top .wrapper .temp {
  margin-top: 20px;
}

.weather-card .top .wrapper .temp .temp-type {
  font-size: 5.5rem;
}

.weather-card .top .wrapper .temp .temp-value {
  display: inline-block;
  font-size: 5.5rem;
  font-weight: 600;

}
.weather-card .top .wrapper .temp .deg {
  display: inline-block;
  font-size: 35px;
  font-weight: 600;
  vertical-align: top;
  margin-top: 10px;
}
.weather-card .top:after {
  content: "";
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}

.weather-card.rain .top {
  background: url("http://img.freepik.com/free-vector/girl-with-umbrella_1325-5.jpg?size=338&ext=jpg") no-repeat;
  background-size: cover;
  background-position: center center;
}
